# MongoDB Connection
MONGODB_URI=mongodb+srv://simonjay710_db_user:uAapLHc1UQpiuGhr@cluster0.vtipkfa.mongodb.net/?appName=Cluster0
# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=AVU4sIOFSoZBhpG/pI9iKCJb/s87vVn5xoe0D9drBNM=

# Cloudinary
CLOUDINARY_CLOUD_NAME=douvhil7g
CLOUDINARY_API_KEY=232926896949836
CLOUDINARY_API_SECRET=cX634rFfUvEj8LG6Up5oSB7V-Mg
