# MongoDB Connection
MONGODB_URI=

# NextAuth
# NEXTAUTH_URL is automatically set by Vercel in production
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
